<%= form_with url: form_path, method: :post, local: true, data: { controller: 'session', session_session_id_value: session.id } do |form| %>
  <div class="space-y-6">
    <div class="border-b border-gray-900/10 pb-12">
      <p class="mt-2 text-sm text-gray-400">汪汪会努力为你分析的喔！若等的时候无聊🥱的话，可以丢根胡萝卜🥕逗我玩～</p>
      <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <div class="mt-2">
            <div class="flex h-[60vh] w-full flex-col">
              <!-- Prompt Messages -->
              <div
                class="flex-1 space-y-6 overflow-y-auto rounded-xl bg-slate-200 p-4 text-sm leading-6 text-slate-900 shadow-sm dark:bg-slate-900 dark:text-slate-300 sm:text-base sm:leading-7"
                data-session-target="messages"
              >
                <!-- Prompt message list -->
                <% chat_histories.each do |chat_history| %>
                  <% if chat_history.message_type == ChatHistory::MESSAGE_TYPES[:human] %>
                    <div class="flex items-start flex-row-reverse">
                      <img class="ml-2 h-8 w-8 rounded-full" src="https://dummyimage.com/128x128/354ea1/ffffff&text=我" />
                      <div class="min-h-[85px] rounded-b-xl rounded-tl-xl bg-indigo-50 p-4 dark:bg-indigo-800 sm:min-h-0 sm:max-w-md md:max-w-2xl">
                        <p><%= chat_history.rendered_message_content %></p>
                      </div>
                    </div>
                  <% else %>
                    <div class="flex items-start">
                      <img class="mr-2 h-8 w-8 rounded-full" src="https://dummyimage.com/128x128/363536/ffffff&text=汪" />
                      <div class="rounded-b-xl rounded-tr-xl bg-slate-50 p-4 dark:bg-slate-800 sm:max-w-md md:max-w-2xl">
                        <p><%= chat_history.rendered_message_content %></p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-x-2">
      <textarea
        data-controller="textarea-autogrow"
        id="chat-input"
        type="text"
        class="w-full rounded-lg border border-slate-300 bg-slate-200 p-3 text-sm text-slate-800 shadow-md focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 dark:border-slate-200/10 dark:bg-slate-800 dark:text-slate-200 dark:placeholder-slate-400 dark:focus:border-blue-600 sm:text-base"
        placeholder="汪汪正在认真听你说喔"
        rows="1"
        data-session-target="chatInput"
      ></textarea>
      <button
        class="rounded-lg border border-transparent bg-blue-600 px-3 py-1 text-slate-200 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
        data-action="click->session#chat"
        data-session-target="chatButton"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 14l11 -11"></path>
          <path
            d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
          ></path>
        </svg>
        <span class="sr-only">汪汪正在认真听你说喔</span>
      </button>
    </div>
  </div>
<% end %>