<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <%= render 'sidebar_menu' %>

  <main class="py-10 lg:pl-72" data-controller="thinking-models">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <div class="px-4 sm:px-6 lg:px-8">
          <!-- Prompt Messages Container - Modify the height according to your need -->
          <div class="flex h-[97vh] w-full flex-col">
            <!-- Prompt Messages -->
            <div
              class="flex-1 space-y-6 overflow-y-auto rounded-xl bg-slate-200 p-4 text-sm leading-6 text-slate-900 shadow-sm dark:bg-slate-900 dark:text-slate-300 sm:text-base sm:leading-7"
              data-thinking-models-target="messages"
            >
              <!-- Prompt message list -->
            </div>
            <!-- Prompt message input -->
            <form class="mt-2" data-action="thinking-models#submit">
              <div class="mb-2 flex gap-x-2 overflow-x-auto whitespace-nowrap text-xs text-slate-600 dark:text-slate-300 sm:text-sm">
                <div class="flex items-center space-x-4">
                  <div>
                    <input type="checkbox" id="switch-to-user-view" value="切换至用户视角分析问题" class="hidden peer" data-thinking-models-target="model">
                    <label for="switch-to-user-view" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-gray-500 bg-white border-4 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-green-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:border-4">
                      切换至用户视角
                    </label>
                  </div>
                  <div>
                    <input type="checkbox" id="kano-model" value="卡诺模型" class="hidden peer" data-thinking-models-target="model">
                    <label for="kano-model" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-gray-500 bg-white border-4 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-green-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:border-4">
                      卡诺模型分析
                    </label>
                  </div>
                  <div>
                    <input type="checkbox" id="mvp-judgment" value="判断 MVP 功能" class="hidden peer" data-thinking-models-target="model">
                    <label for="mvp-judgment" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-gray-500 bg-white border-4 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-green-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:border-4">
                      MVP 功能判断
                    </label>
                  </div>
                  <div>
                    <input type="checkbox" id="pmf-path" value="寻找 PMF 思路" class="hidden peer" data-thinking-models-target="model">
                    <label for="pmf-path" class="inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-gray-500 bg-white border-4 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-green-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:border-4">
                      寻找 PMF 思路
                    </label>
                  </div>
                </div>
              </div>
              <label for="chat-input" class="sr-only">请描述你遇到的产品问题</label>
              <div class="flex gap-x-2">
                <input
                  data-thinking-models-target="input"
                  id="chat-input"
                  type="text"
                  class="w-full rounded-lg border border-slate-300 bg-slate-200 p-3 text-sm text-slate-800 shadow-md focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 dark:border-slate-200/10 dark:bg-slate-800 dark:text-slate-200 dark:placeholder-slate-400 dark:focus:border-blue-600 sm:text-base"
                  placeholder="请描述你遇到的产品问题"
                  rows="1"
                  required
                  />
                <button
                  type="submit"
                  class="rounded-lg border border-transparent bg-blue-600 px-3 py-1 text-slate-200 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
                  data-thinking-models-target="submitButton"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 14l11 -11"></path>
                    <path
                      d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                    ></path>
                  </svg>
                  <span class="sr-only">请描述你遇到的产品问题</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
