<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <%= render 'sidebar_menu' %>

  <main class="py-10 lg:pl-72" data-controller="thinking-models">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <div class="px-4 sm:px-6 lg:px-8" data-controller="five-whys">
          <div>
            <h4 class="sr-only">Status</h4>
            <p class="text-sm font-medium text-gray-900">5W1H 分析</p>
            <div class="mt-6" aria-hidden="true">
              <div class="overflow-hidden rounded-full bg-gray-200">
                <div class="h-2 rounded-full bg-indigo-600" style="width: 16.6%" data-five-whys-target="progressBar"></div>
              </div>
            </div>
          </div>

          <form class="mt-12">
            <div class="space-y-12">
              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3" data-five-whys-target="step" data-index="0">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">Who（谁）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">输入目标客户群体、利益相关者、团队成员等。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <label for="who" class="block text-sm font-medium leading-6 text-gray-900 hidden">Who</label>
                    <div class="mt-2">
                      <textarea required data-five-whys-target="textarea" id="who" name="who" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600">列出可能涉及的各种用户角色和团队成员。</p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="1">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">What（什么）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">可以详细描述产品功能、特性或项目任务。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <label for="who" class="block text-sm font-medium leading-6 text-gray-900 hidden">What</label>
                    <div class="mt-2">
                      <textarea data-five-whys-target="textarea" id="who" name="who" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="2">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">When（何时）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">输入产品的预计时间线、关键里程碑或使用时间。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <label for="when" class="block text-sm font-medium leading-6 text-gray-900 hidden">When</label>
                    <div class="mt-2">
                      <textarea data-five-whys-target="textarea" id="when" name="when" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="3">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">Where（哪里）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">产品使用的环境或市场。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <label for="where" class="block text-sm font-medium leading-6 text-gray-900 hidden">Where</label>
                    <div class="mt-2">
                      <textarea data-five-whys-target="textarea" id="where" name="where" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="4">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">Why（为什么）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">产品存在的理由、解决的问题或其价值提案。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2 cursor-not-allowed opacity-50">
                  <div class="col-span-full">
                    <label for="why" class="block text-sm font-medium leading-6 text-gray-900 hidden">Why</label>
                    <div class="mt-2">
                      <textarea data-five-whys-target="textarea" id="why" name="why" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="5">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">How（如何）</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">详述将如何实现产品功能、解决问题或达成目标。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <label for="why" class="block text-sm font-medium leading-6 text-gray-900 hidden">Why</label>
                    <div class="mt-2">
                      <textarea data-five-whys-target="textarea" id="why" name="why" rows="6" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3 cursor-not-allowed opacity-50" data-five-whys-target="step" data-five-whys-index-value="6">
                <div>
                  <h2 class="text-base font-semibold leading-7 text-gray-900">分析结果</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">汪汪给出的 5W1H 分析结果。</p>
                </div>

                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                  <div class="col-span-full">
                    <p data-five-whys-target="stepDescription" class="mt-3 text-sm leading-6 text-gray-600"></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <button type="button" data-action="five-whys#previous" data-five-whys-target="previousButton" class="text-sm font-semibold leading-6 text-gray-900">上一步</button>
              <button type="button" data-action="five-whys#next" data-five-whys-target="nextButton" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">下一步</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
