<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <%= render 'sidebar_menu' %>

  <main class="py-10 lg:pl-72">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <div class="px-4 sm:px-6 lg:px-8">
          <!-- Prompt Messages Container - Modify the height according to your need -->
          <form data-controller="user-interview">
            <div class="space-y-12">
              <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">生成用户访谈问题</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">汪汪会帮助妈妈生成 1v1 用户访谈问题</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="col-span-full">
                    <label for="thoughts" class="block text-sm font-medium leading-6 text-gray-900">需求假设</label>
                    <div class="mt-2">
                      <textarea data-user-interview-target="assumptions" required id="assumptions" name="assumptions" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    </div>
                    <p class="mt-3 text-sm leading-6 text-gray-600">妈妈有什么产品灵感💡？（好奇脸）</p>
                  </div>

                  <div class="col-span-full">
                    <label for="target-user" class="block text-sm font-medium leading-6 text-gray-900">采访对象</label>
                    <div class="mt-2">
                      <textarea
                        data-user-interview-target="targetUser"
                        required
                        id="target-user"
                        name="target-user"
                        rows="2"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      ></textarea>
                    </div>
                    <p class="mt-3 text-sm leading-6 text-gray-600">妈妈希望采访的对象是谁呢？</p>
                  </div>
                </div>
              </div>
              <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">汪汪黑板</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">汪汪会努力为妈妈分析的喔！若等的时候无聊🥱的话，可以丢根胡萝卜🥕逗我玩～</p>

                <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="sm:col-span-6">
                    <div class="mt-2">
                      <div class="flex h-[60vh] w-full flex-col">
                        <!-- Prompt Messages -->
                        <div
                          class="flex-1 space-y-6 overflow-y-auto rounded-xl bg-slate-200 p-4 text-sm leading-6 text-slate-900 shadow-sm dark:bg-slate-900 dark:text-slate-300 sm:text-base sm:leading-7"
                          data-user-interview-target="messages"
                        >
                          <!-- Prompt message list -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6" data-user-interview-target="submitButtonContainer">
              <button data-user-interview-target="submitButton" data-action="user-interview#submit" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">生成</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
