<div class="flex h-96 items-center justify-center" data-controller="resume-status" data-resume-status-resume-id-value="<%= resume.id %>">
  <div class="text-center w-full max-w-md mx-auto">
    <h1 class="mt-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">正在解析简历</h1>
    <p class="mt-6 text-base leading-7 text-gray-600" data-resume-status-target="status">预计等待 1 分钟</p>
    <div class="mt-6 relative mb-5 h-5 w-3/4 mx-auto rounded-full bg-gray-200" id="progress-bar-container">
      <div
        class="h-full animate-pulse rounded-full bg-indigo-500"
        data-controller="progress-bar"
        data-progress-bar-duration-value="60000"
        data-progress-bar-start-time-value="<%= resume.created_at.iso8601 %>"
        data-progress-bar-target="progressBar"
        style="width: 0%"
      >
        <span data-progress-bar-target="progressText" class="absolute inset-0 flex items-center justify-center text-xs font-semibold text-white">0%</span>
      </div>
    </div>
    <% if has_other_resumes %>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="<%= resumes_path %>" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">返回简历列表</a>
      </div>
    <% end %>
  </div>
</div>