<div class="border-b border-gray-900/10 pb-12" data-controller="challenges">
  <h2 class="text-base font-semibold leading-7 text-gray-900" data-challenges-target="scene">副业</h2>
  <p class="mt-1 text-sm leading-6 text-gray-600">汪呜～妈妈在做副业的过程中遇到了什么困难？</p>

  <div class="mt-3 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-2">
      <button
        data-challenges-target="challenge"
        data-action="challenges#submitChallenge"
        type="button"
        class="rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100"
      >坚持不下去</button>
    </div>
  </div>
</div>