<div class="col-span-2">
  <nav class="flex space-x-4">
    <!-- Current: "text-white", Default: "text-indigo-100" -->
    <a href="<%= new_resume_path %>" class="text-white rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10" aria-current="page">简历优化</a>
    <a href="<%= new_interviews_path %>" class="text-indigo-100 rounded-md bg-white bg-opacity-0 px-3 py-2 text-sm font-medium hover:bg-opacity-10">面试通关</a>
  </nav>
</div>